.side-menu
  .ranking
    .ranking__header
      人気の記事
    .ranking__title
      この時計はすごくいい時計2
    .ranking__title
      この時計はすごくいい時計2
    .ranking__title
      この時計はすごくいい時計2
    .ranking__title
      この時計はすごくいい時計2
    .ranking__title
      この時計はすごくいい時計2
      
  .brands
    .brands__header
      人気ブランド一覧
    .brands__famous-brand
      = link_to "/brands/1" do
        ロレックス
    .brands__famous-brand
      = link_to "/brands/99" do
        IWC
    .brands__famous-brand
      = link_to "/brands/45" do
        オメガ
    .brands__famous-brand
      = link_to "/brands/15" do
        カール・フォン・ツォイテン
    .brands__famous-brand
      = link_to "/brands/1" do
        ロレックス

