= render partial: "shared/header-before-login"

.wrapper
  .contents
    .main-contents
      - @reviews.each do |review|
        -image1 = review.review_images[0]
        -images = review.review_images
        .review
          = link_to review_path(review), class: "review__title" do
            = review.title
          =image_tag "#{image1.image}", class: "review__image--1"
          %ul.review__image--thumbnails
            -images.each_with_index do |image, index|
              %li=image_tag "#{image.image}", {class: "review__image--2"}
          .review__bottom
            =image_tag "#{image1.image}", class: "review__bottom--author-icon"
            .review__bottom--author
              =review.user.name
            %i.fa.fa-thumbs-up.fa-lg
            .review__bottom--comment
              ここに画像コメントが入ります
              ここに画像コメントが入ります
              ここに画像コメントが入ります
              ここに画像コメントが入ります
              ここに画像コメントが入ります
              ここに画像コメントが入ります
              ここに画像コメントが入ります
              ここに画像コメントが入ります
              ここに画像コメントが入ります
              ここに画像コメントが入ります
              ここに画像コメントが入ります

    = render partial: "shared/side-menu"
  = render partial: "shared/footer"
