= render partial: "shared/header-before-login"

.wrapper
  .contents
    .main-contents3
      = form_for @review do |f|
        .new-review
          .new-review__title
            %label.new-review__title--label レビュータイトル
            = f.text_field :title, placeholder: 'タイトル', class: "new-review__title--label--textarea"
          .new-review__brand
            %label.new-review__title--label ブランド(該当しない場合は"---")
            = f.collection_select :brand_id, @brands, :id, :brand_name, {prompt: "---"}, class: "select-default", id: "parent_category"
          .review__contents
          = f.fields_for :review_images do |r|
            %ul.review__image--thumbnails
              = r.file_field :image, multiple: true, name: 'review_images[image][]'
          = f.submit "レビューを投稿する", class: "new-review__submit"
  = render partial: "shared/footer"
